<h2>Listing Products</h2>
<%#= link_to 'New Product', new_product_path %>
<div  style="width: 100%;overflow: auto">
  <table id="products_table" width="95%" border="0" align="center" valign="top" class="table table-bordered table-striped tablesorter">
    <thead>
    <tr>
      <th>Name</th>
      <th>Sku</th>
      <th>Price</th>
      <th>Image</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
        <% @products.each do |product| %>
            <tr>
              <td><%= link_to product.name, edit_product_path(product), class: "btn btn-link", type: "button" %></td>
              <td><%= product.sku_id %></td>
              <td><%= product.price %></td>
              <% picture = product.try(:pictures).first%>
              <td>
                <%if picture.present?%>
                <%= image_tag picture.image.url(:thumb) %>
                <%else%>
                 -
                <%end%>
              </td>
              <!--<td><%#= link_to 'Show', product %></td>-->
              <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
  </table>
</div>
<div style="float: right;">
  <%= paginate @products %>
</div>

<br>

<script type="text/javascript" charset="utf-8">
    $("#products_table").DataTable({
        "paging":   false
    });
</script>