<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Expire date:</strong>
  <%= @product.expire_date %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @product.categories %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @product.tags %>
</p>

<% vars = @product.vars %>
<% vars.each do |key, value| %>
    <p>
      <strong><%= key %></strong>
      <%= value.class == Array ? value.join(",") : value %>
    </p>
<% end %>
<p>
  <strong>Collection:</strong>
  <%= @product.collection_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
